// Colors

$black: #333;
$gray: #999;
$white: #fff;
$redDark: #DC3C3B;
$lightGray: #E3E4E6;

$main-color: $black;
$main-color-light: $gray;
$secondly-color: $white;
$secondly-color-hover: $redDark;
$light-color: $lightGray;

// Border