@font-face {
  font-family: 'Gerbera';
  src: url('./../assets/fonts/Gerbera.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gerbera';
  src: url('./../assets/fonts/Gerbera-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gerbera';
  src: url('./../assets/fonts/Gerbera-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gerbera';
  src: url('./../assets/fonts/Gerbera-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gerbera';
  src: url('./../assets/fonts/Gerbera-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'William';
  src: url('./../assets/fonts/William-Text-Pro-Reg.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}